<%= provide :page_title, 'Show Question' %>
<%= currently_at 'Show Question' %>
<div class="container">
    <div class="card mt-3 mb-3" style="width: 50rem;">
      <div class="card-body">
        <section class="card-header">
          <%= @question.user.gravatar %>
          <%= @question.user.name_or_email %>
        </section>
        <h5 class="card-title"><%= sanitize @question.title %></h5>
        <div class="card-text"><%= sanitize @question.body %></div>
        <div class="card-text mb-3"><%= t('question_form.created_date') %> <%= formatted_time(@question) %></div>
        <div class="container">
          <%= link_to t('question_form.edit'), edit_question_path(@question), class: 'btn btn-primary' %>
          <%= link_to t('question_form.delete'), question_path(@question),
                      data: {turbo_method: :delete, confirmation: 'Are you shure?'},
                      class: 'btn btn-danger' %>
        </div>
        <li class="card-header mt-3"><%= t('text.answers') %></li>

            <%= render partial: 'answers/answer', collection: @answers,
                       as: :answer, locals: { question: @question } %>

          <div class="card-body mt-0">
            <%= render 'answers/form' %>
          </div>
    </div>
    </div>
  <%= link_to t('question_form.back'), questions_path, class: 'btn btn-primary' %>
</div>
