<%= provide :page_title %>
<%= currently_at t('menu.home') %>

<div class="container mt-3">
  <ul class="list-group">
    <li class="list-group-item">Здесь б удут кнопки
      <ol class="list-group list-group-numbered">
        <li class="list-group-item">
          <%= link_to 'Sign In', new_user_path, class: 'btn btn-primary' %> <em>link_to 'Sign In', new_user_path, class: 'btn btn-primary'</em>
        </li>
        <li class="list-group-item">
          <%= link_to 'Log In', new_session_path, class: 'btn btn-primary' %>
          <em>link_to 'Log In', new_session_path, class: 'btn btn-primary'</em>
        </li>
        <li class="list-group-item">
          <%= link_to 'Log out', session_path, data: { turbo_method: :delete}, class: 'btn btn-primary' %>
          <em>link_to 'Log out', session_path, data: { turbo_method: :delete}, class: 'btn btn-primary'</em>
        </li>
        <li class="list-group-item">
          <% if current_user.present? %>
            <%= link_to 'Edit', edit_user_path(current_user), class: 'btn btn-primary' %>
            <em>link_to 'Edit', edit_user_path(current_user), class: 'btn btn-primary'</em>
          <% else %>
            <p>Заглушка если пользользователя нет в сессии</p>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Questions', questions_path, class: 'btn btn-primary' %>
          <em> link_to 'Questions', questions_path, class: 'btn btn-primary'</em>
        </li>
        <li class="list-group-item">
          <%= link_to 'Admin Users', admin_users_path, class: 'btn btn-primary' %>
          <em> link_to 'Admin', admin_users_path, class: 'btn btn-primary'</em>
        </li>
        <li class="list-group-item">
          <%= link_to 'Admin Lessons', admin_youtube_lessons_path, class: 'btn btn-primary' %>
          <em> link_to 'Admin Lessons', admin_youtube_lessons_path, class: 'btn btn-primary'</em>
        </li>

      </ol>
    </li>
    <li class="list-group-item">Здесь будут данные о пользователе вошедшем в систему
      <ul class="list-group">
          <ol class="list-group list-group-numbered">
            <li class="list-group-item">
              <%= current_user.inspect %>
            </li>
          </ol>
      </ul>
    </li>
    <li class="list-group-item">Что делаем по порядку:
      <ol class="list-group list-group-numbered">
            <li class="list-group-item">Создаем контроллер для пользователя и модель пользователя с полями
            email, name, password_digest. Password_digest с bcrypt создаст в модели пользователя виртуальные поля
            password и password_confirmation.</li>
            <li class="list-group-item">Для модели пользователя прописываем has_secure_password</li>
            <li class="list-group-item">Делаем валидации на уровне БД: <em>t.string :email, null: false, index: { unique: true }</em>
            и валидацию email в модели пользователя <em>validates :email, presence: true, uniqueness: true</em>.
            Для поля имя можно не делать проверку на наличие, потом напишем код который будет выбирать имя если оно есть, а если нет
            то будет отрезать часть от почты и возвращать это значение.</li>
            <li class="list-group-item"> Создаем методы new и create в контроллере пользователя.
            </li>
            <li class="list-group-item"> Создаем форму для регистрации пользователя используя <em>form_with model: @user</em>
              в файле views/users/_form.html.erb.
            </li>
            <li class="list-group-item">
              создаем 2 метода: <em>current_user</em> возвращающий текущего пользователя если он есть в сесиии
              и <em>user_signed_in?</em> который проверяет есть ли данные пользователя в сессии, а так же делаем их хелперами,
              для того что бы они были доступны не только в контроллерах, но и в представлениях. Эти 2 метода выносим в отдельный консерн
              и подключаем к application_controller. ВАЖНО: имя модуля в консерне должно соответствовать названию файла консерна!!!1
            </li>
            <li class="list-group-item">
              Декораторы! <br>
              Декораторы используются для того что бы добавлять к существующим объектам какие-то дополнительные методы и эти
              методы включают в себя логику связанную с отображением этого объекта.<br>
              Для добавления декораторов устанавливаем <em>gem 'draper'</em><br>
              Генерируем новый базовый декоратор: <em>rails g draper:install</em> и декоратор для пользователя <em>rails g decorator User</em><br>
              В декораторе user создаем метод name_or_email
            </li>
            <li class="list-group-item">
              Сессии!<br>
              Создаем маршрут для сесии.<br>
              создаем контроллер сесии и в нем описываем методы new, create, destroy<br>
              В методе create пишем:<br>
              <pre>
                <code>
                  # Находим пользователя по почте из парамс
                  user = User.find_by(email: params[:email])
                  # Пытаемся залогиниться используя метод authenticate. Для того что бы метод не применялся к nil (может быть
                  # когда пользователь будет не найден) используем user& что автоматически превратит условие в false
                  if user&.authenticate(params[:password])
                    # вызываем метод sign_in объявленный в консерне authentication
                    sign_in user
                    flash[:success] = "Welcome back, #{current_user.name_or_email}!"
                    redirect_to root_path
                  else
                    flash.now[:warning] = 'Incorrect email or password'
                    redirect_to new_session_path
                  end
                </code>
              </pre>
            </li>

        <li class="list-group-item">
          Выпадающий список в меню!<br>
          Для того что бы создать выпадающий список устанавливаем popperjs <em>yarn add @popperjs/core</em><br>
          И дальше это дерьмо не работает!!!!!
        </li>
        <li class="list-group-item">
          Дополнительно создаем 2 метода: <em>require_no_authentication</em> и <em>require_user_authentication</em> которые
          будут проверять есть ли в сессии пользователь или нет. Эти методы будут выполняться с ключем before_action что бы
          разрешать пользователю или нет логиниться, выходить или регистрироваться на сайте в зависимости от того вошел ли
          он в сессию или нет. Код этих методов выносим в консерн authentication.
        </li>
        <li class="list-group-item">
          Создадим методы и страницу для редактирования данных пользователя.
        </li>
        <li class="list-group-item">
          Для валидации паролей в консерне authenticate напишем методы проверки. См. -> authenticate
        </li>
        <li class="list-group-item">
          Для проверки корректности почты используем valid_email2. читать README.MD на github
        </li>
        <li class="list-group-item">
          ЗАПОМИНАНИЕ ПОЛЬЗОВАТЕЛЯ И КУКИ
          <ol class="list-group list-group-numbered">
            <li class="list-group-item">
              добавляем к таблице БД пользователя новое поле - хеш специального токена с помощью которого и
              будет запоминаться пользователь. По большому счету это аналог пароля.<br>
              <em>rails g migration add_remember_token_digest_to_users remember_token_digest</em>
            </li>
          </ol>
        </li>
        <li class="list-group-item">
          СВЯЗЬ ПОЛЬЗОВАТЕЛЯ С ВОПРОСАМИ И ОТВЕТАМИ
          <ol class="list-group list-group-numbered">
            <li class="list-group-item">
              Генерируем миграцию <em>rails g migration add_user_id_to_answers user:belongs_to</em> которая создаст
              в answers поле user_id для осуществления связи между пользователем и ответами
            </li>
            <li class="list-group-item">
              Генерируем миграцию <em>rails g migration add_user_id_to_questions user:belongs_to</em> которая создаст
              в question поле user_id для осуществления связи между пользователем и вопросами
            </li>
            <li class="list-group-item">
              При применении миграций из-за того что установлено <em>null: false</em> миграция будет с ошибками, т.к.
              в приложении уже есть вопросы и ответы. Что бы этого избежать добавляем в миграции <em>default: User.first.id </em>
            </li>
            <li class="list-group-item">
              После применения миграции создаем новую миграцию для того чтобы изменить значение user_id
              <em>rails g migration remove_default_user_id_from_questions_answers</em> и в этой миграции прописываем 2 метода: up и down.
              Метод up применяется когда миграция применяется, а метод down - когда миграция откатывается.<br>
              В метод up прописываем <em>change_column_default :questions, :user_id, from: User.first.id, to: nil</em>
              и <em>change_column_default :answers, :user_id, from: User.first.id, to: nil</em>.<br>
              В метод down прописываем <em>change_column_default :questions, :user_id, from: nil, to: User.first.id</em>
              и <em>change_column_default :answers, :user_id, from: nil, to: User.first.id</em>.<br>
              После этого применяем миграции.
            </li>

          </ol>
        </li>

        <li class="list-group-item">
          ГРАВАТАР
          <ol class="list-group list-group-numbered">
            <li class="list-group-item">
              Для подключения граватара в декораторе пользователя добавляем метод gravatar
            </li>
            <li class="list-group-item">
              Для того что бы каждый раз не генерировать хеш по почте создадим миграцию
              <em>rails g migration add_gravatar_hash_to_users gravatar_hash</em>
            </li>
            <li class="list-group-item">
              Хеш граватар мы будем записывать в Users при создании нового пользователя и при смене почты<br>
              Для того что бы это сделать в модели User пишем следующее: <br>
              <pre>
                <code>
                  before_save :set_gravatar_hash, if: email_changed?
                  private
                  def set_gravatar_hash
                    return unless email.present?

                    hash = Digest::MD5.hexdigest email.strip.downcase
                    self.gravatar_hash = hash
                  end
                </code>
              </pre>
            </li>
          </ol>
        </li>
        <li class="list-group-item">
        Полиморфические отношения или создание комментариев
          <ol class="list-group list-group-numbered">
            <li class="list-group-item">
              В консоли генерируем модель командой
              <em>rails g model Comment body commentable:references{polymorphic} user:belongs_to</em><br>
              После генерации модели делаем миграцию<br>
              В миграции создаются 2 поля
            </li>
            <li class="list-group-item">
              Создаем консерн Commentable который выглядит так: <br>
              <pre>
                <code>
                  # Этот консерн будет подключать к любой модели модель комментариев
                  # и тогда фактически у этой модели будет много комментариев и это виртуальное отношение
                  # будет называться commentable
                  module Commentable
                    extend ActiveSupport::Concern

                    included do
                      has_many :comments, as: :commentable, dependent: :destroy
                    end
                  end
                </code>
              </pre>
              <br>
              и подключаем его к тем моделям которым будут доступны комментарии, а именно к вопросу и ответу.<br>
              данный код
            </li>
            <li class="list-group-item">
              <p>тут я просрал записи и мало что понял в полиморфических отношениях в БД</p>
            </li>
          </ol>
        <li class="list-group-item">
          Отношение многие-ко-многим
          <ol class="list-group list-group-numbered">
            <li class="list-group-item">
              создаем модель тегов <em>rails g model Tag title</em>
            </li>
            <li class="list-group-item">
              создаем таблицу в которой будем прописывать взаимоотношения между моделями.
              <em>rails g model QuestionTag question:belongs_to tag:belongs_to</em><br>
            </li>
            <li class="list-group-item">
              <p>
                В миграцию создающую QuestionTag добавляем этот код
              </p>
              <pre>
                <code>
                  # эта строка позволит не появиться двум записям с одинаковыми question_id и tag_id
                  # потому что нет смысла добавлять к одному вопросу кучу одинаковых тегов
                  add_index :question_tags, %i[question_id tag_id], unique: true
                </code>
              </pre>
            </li>
            <li class="list-group-item">
              В модель Tag записываем отношение <em>has_many :question_tags, depended::destroy</em>
              и <em>has_many :questions, through: :question_tags</em>. <br>
              второй записью мы устанавливаем связь между таблицами question и tag<br>
              и такое же отношение нужно прописать для вопроса
            </li>
            <li class="list-group-item">
              В форму создания вопроса добавим пару строк отвечающих за добавление тегов к вопросам
              <pre>
                <code>

                </code>
              </pre>
            </li>
          </ol>
        </li>
      </ol>
  </ul>
</div>