<tr>
  <th scope="row"><%= youtube_lesson.number %></th>
  <td><%= youtube_lesson.name %></td>
  <td><%= youtube_lesson.link %></td>
  <td><%= youtube_lesson.description %></td>
  <td><%= formatted_time(youtube_lesson) %></td>
</tr>